[Unit]
Description=Cdocker        
After=tlp-init.service

[Service]
Type=oneshot
RemainAfterExit=no
ExecStart=/home/pirate/check_docker.sh

[Install]
WantedBy=multi-user.target
